// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//Ido App Colors Names
$main: #2e3047;
$headerBgc: #222;
$Clr1: #2e3047;
$Clr2: #43455c;
$Clr3: #3c3f58;
$Clr4: #707793;
$Clr5: #2c97de;

// Bootstrap Colors
$bsPrimary: #0275d8;
$bsSuccess: #5cb85c;
$bsInfo: #5bc0de;
$bsWarning: #f0ad4e;
$bsDanger: #d9534f;
$bsInverse: #292b2c;
$bsFaded: #f7f7f7;

// Popular Colors
$softClr1: #c5d5cb;
$softClr2: #9fa8a3;
$softClr3: #e3e0cf;
$softClr4: #fae596;
$softClr5: #3fb0ac;
$softClr6: #173e43;
$softClr7: #bccbde;
$softClr7: #c2dde6;
$softClr7: #e6e9f0;

// Earth
$earthClr1: #34421e;
$earthClr2: #f1f1ef;
$earthClr3: #c19434;

// muted modern
$blncdRed: #fa292a;
$blncdBrown: #b89f5d;
$blncdBlue: #5a7670;

// BlackShades
$blkClr1: #151617;
$blkClr3: #151516;
$blkClr2: #090a0a;
